<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MyLayout</title>
</head>
<body>
    <div>
        <h3>hello world </h3>
            <h4>my nav </h4>
    </div>

    <div>

        @RenderBody() 
 
    </div>

    <footer>
        <h4>my footer</h4>
    </footer>

</body>
</html>
