  /* by tage name */
a{
    text-decoration: none;
    font-size: 5rem;
}
h3{
    color: blue;
}
/* classname */
.headerSection{
    background-color: yellow;
}
/* ID */
#Username{
      background-color: #060606;  
}