
@model Employee
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
 <h2 class="alert alert-danger text-center"> Are you Sure you want to Delete @Model.Name </h2>
<form asp-action="Delete" >

<partial name="PartialView/DetailDeletePartial" />

<input type="submit" class="btn btn-danger" /> |
<a asp-action="Index" class="btn btn-light" >Back </a>
</form>




