@model Employee
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



    <partial name="PartialView/DetailDeletePartial" />


<a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning"> Update </a> ||

<a asp-action="Index" class="btn btn-light">Back </a>




