
@{
    ViewData["Title"] = "EmailSent";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>EmailSent</h1>


<div class="main-w3layouts wrapper">
	<h1>Reset Password</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<h3>Check your Email Inbox Password ResetLink is Sent</h3>
		</div>
		<a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">your Inbox</a>
	</div>
	<!-- copyright -->
	<div class="colorlibcopy-agile">
		<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
	</div>
	<!-- //copyright -->
	<ul class="colorlib-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
