@model ForgetPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ForgetPassword</h1>


<div class="main-w3layouts wrapper">
	<h1>Reset Password</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form asp-action="ForgetPassword">
				<div asp-validation-summary="All"></div>

				<input class="text email" asp-for="Email" placeholder="Email" required="">


				<input type="submit" value="Reset Password">
			</form>
			<p>Don't have an Account? <a href="#"> Login Now!</a></p>
		</div>
	</div>
	<!-- copyright -->
	<div class="colorlibcopy-agile">
		<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
	</div>
	<!-- //copyright -->
	<ul class="colorlib-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
