@model LoginVm
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Login</h1>


<div class="main-w3layouts wrapper">
	<h1>Creative SignUp Form</h1>
	<div class="main-agileinfo">
		<div class="agileits-top">
			<form asp-action="Login">
				<div asp-validation-summary="All"></div>
			
				<input class="text email" asp-for="Email" placeholder="Email" required="">
			

				<input class="text" asp-for="Password" placeholder="Password" required="">
			

				@* <input type="radio" value="Male"  asp-for="" /> Male
				<input type="radio" value="Female" /> *@
				<div class="wthree-text">
					<label class="anim">
						<input asp-for="RememberMe" class="checkbox">
						<span>remember Me</span>
					</label>
					<div class="clear"> </div>
				</div>
				<input type="submit" value="Login">
			</form>
			<p>Don't have an Account? <a href="#"> Login Now!</a></p>
		</div>
	</div>
	<!-- copyright -->
	<div class="colorlibcopy-agile">
		<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
	</div>
	<!-- //copyright -->
	<ul class="colorlib-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
