@model Employee
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<label asp-for="Name" class="form-Label"></label>
<input asp-for="Name" class="form-control" />
<span asp-validation-for="Name" class="text-danger"></span>


<label asp-for="City" class="form-Label"></label>
<input asp-for="City" class="form-control" />
<span asp-validation-for="City" class="text-danger"></span>


<label asp-for="age" class="form-Label"></label>
<input asp-for="age" class="form-control" />
<span asp-validation-for="age" class="text-danger"></span>

<label asp-for="Email" class="form-Label"></label>
<input asp-for="Email" class="form-control" />
<span asp-validation-for="Email" class="text-danger"></span>


<label asp-for="Salary" class="form-Label"></label>
<input asp-for="Salary" class="form-control" />
<span asp-validation-for="Salary" class="text-danger"></span>


@* <label asp-for="" ></label> *@