@model int
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<td> <a asp-action="Details" asp-route-id="@Model" class="btn btn-sucess"> Details  </a></td>
<td> <a asp-action="Update" asp-route-id="@Model" class="btn btn-info"> Update  </a> </td>
<td> <a asp-action="Delete" asp-route-id="@Model" class="btn btn-danger"> Delete  </a> </td>