@model Department

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<h2> Add New Department </h2>

<form asp-action="Create">
    <div asp-validation-summary="All"></div>
   
        <label asp-for="Code" class="form-Label" ></label>
        <input  asp-for="Code"  class="form-control" />
        <span asp-validation-for="Code" class="text-danger" ></span>


    <label asp-for="Name" class="form-Label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>


    <label asp-for="CreatedAt" class="form-Label"></label>
        <input asp-for="CreatedAt" class="form-control" />
        <span asp-validation-for="CreatedAt" class="text-danger"></span>
    

    <input type="submit" class="btn btn-primary" />
    | <a asp-action="Index"  class="btn btn-dark"> Back to List</a>

</form>

@section ClientSideValidation
{
 <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
 <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}