@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    // any c# code i want 
    int x = 3;
    int y = 5; 
    for (int i = 0; i < 10; i++)
    {
        <h3>hello world</h3>    
    }
    if (true)
    {
        
    }

    Layout = "_Layout";
}

<div class="container" >
    @* @DateTime.Now ; *@
    @* @User != login ? "login":sigout ; *@

    <h1>hello from Home About</h1>
</div>